{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto mt-8">

    <h1 class="text-3xl font-bold text-gray-800">{{ ad.title }}</h1>

    <div class="mt-6">
        <img src="{{ ad.image.url }}" alt="{{ ad.title }}" class="w-full h-auto max-h-[500px] object-contain rounded-lg shadow-md">
    </div>    

    <p class="mt-6 text-gray-600">{{ ad.description }}</p>

    <p class="mt-2 text-gray-600"><strong>Location:</strong> {{ ad.location }}</p>

    {% if ad.category.name == 'Rentals' or ad.category.name == 'Jobs' %}
        <p class="mt-2 text-gray-600"><strong>Monthly Rate:</strong> ₹{{ ad.price }} / month</p>
    {% else %}
        <p class="mt-2 text-gray-600"><strong>Price:</strong> ₹{{ ad.price }}</p>
    {% endif %}
    

    <p class="mt-2 text-gray-600"><strong>Posted on:</strong> {{ ad.created_at|date:"F j, Y" }}</p>

    <p class="mt-2 text-gray-600"><strong>Posted by:</strong> {{ ad.user.username }}</p>

    {% if ad.show_contact_info %}
    <p class="mt-4 text-gray-600"><strong>Contact Info:</strong> {{ ad.contact_info }}</p>
    {% endif %}

    {% if ad.category.name == 'Events' or ad.category.name == 'Classes' %}
        <p class="mt-2 text-gray-600"><strong>Event Start:</strong> {{ ad.event_start_date }}</p>
        <p class="mt-2 text-gray-600"><strong>Event End:</strong> {{ ad.event_end_date }}</p>
    {% endif %}

    <div class="mt-6 flex space-x-4">
        <button type="button" class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition duration-200">Like</button>
    </div>

    {% if user.is_authenticated %}
    {% if ad.user == user %}
        <div class="mt-6 flex space-x-4">
            <a href="{% url 'ads:ad_edit' category_slug=ad.category.slug ad_slug=ad.slug %}" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 transition duration-200">
                Edit
            </a>
            <a href="{% url 'ads:ad_delete' category_slug=ad.category.slug ad_slug=ad.slug %}" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 transition duration-200">
                Delete
            </a>
        </div>
    {% else %}
    <form method="POST">
        {% csrf_token %}
        <div class="flex items-center space-x-2">
            <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition duration-300 shadow-md">
                Send Message
            </button>
        </div>
    </form>
    {% endif %}
    {% endif %}

</div>
{% endblock %}
